/*
 * list devices on I2C bus
 */

&i2c0 {

	clock-frequency = <100000>;

	eeprom@50 {
		compatible = "atmel,24c64";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x50>;
		pagesize = <32>;
	};

	eeprom@51 {
		compatible = "atmel,24c64";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x51>;
		pagesize = <32>;
	};
};